@page
@model IndexModel
@{
    ViewData["Title"] = "Administration";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here admins can take away your human rights ;)</p>
</div>
