@page
@model CategoriesModel
@{
    ViewData["Title"] = "Categories";

    var maxId = ViewData["MaxId"];
    var pageId = ViewData["PageId"]; 
    var searchTerm = ViewData["SearchTerm"]; 

    var url = "/Categories/?MaxId=" + maxId + "&PageId=" + pageId;

    if (searchTerm != null && searchTerm != "")
    {
        url = url + "&SearchTerm="+searchTerm; 
    }
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<div class="text-center">
    <h1 class="display-4">Search by Category</h1>
    <text>@ViewData["Test"]</text>

    <form method="post">
        <input asp-for="Search!.SearchTerm"/>
       <input type="submit" />
    </form>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h1>Name</h1>
                </th>
                <th>
                    <h1>CurrencyId</h1>
                </th>
                <th>
                    <h1>Slug</h1>
                </th>
                <th>
                    <h1>Symbol</h1>
                </th>
            </tr>
        </thead>
        @if (Model.Categories.Count > 1)
        {
            @if (Model.filteredCategories == null) //Displays all categories if no filter is selected
            {
                @foreach (Entities.Category category in Model.Categories)
                {
                    <tbody>
                        <tr>
                            <td>@category.CategoryName</td>
                        </tr>
                    </tbody>
                }
            }
            else //displays filtered categories
            {
                @foreach (Entities.Category category in Model.filteredCategories)
                {
                    <tbody>
                            <tr>
                                <td>@category.CategoryName</td>
                            </tr>
                    </tbody>
                }
            }
        }
        else
        {
            <p>UH OH! WHERE DID THE CATEGORIES GO!</p>
        }
    </table>
    <a href="@url" class="btn btn-primary">Next</a>
</div>
