@page
@model CategoriesModel
@{
    ViewData["Title"] = "Categories";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<div class="text-center">
    <h1 class="display-4">Search by Category</h1>
    <text>@ViewData["Test"]</text>

    <form method="post">
        <input asp-for="Search!.SearchTerm"/>
       <input type="submit" />
    </form>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h1>Name</h1>
                </th>
                <th>
                    <h1>CurrencyId</h1>
                </th>
                <th>
                    <h1>Slug</h1>
                </th>
                <th>
                    <h1>Symbol</h1>
                </th>
            </tr>
        </thead>
        @if (Model.filteredCategories == null)
        {
            @foreach (Entities.Category category in Model.Categories)
            {
                <tbody>
                    <tr>
                        <td>@category.CategoryName</td>
                    </tr>
                </tbody>
            }
        }
        else
        {
            @foreach (Entities.Category category in Model.filteredCategories) 
            {
                <tbody>
                        <tr>
                            <td>@category.CategoryName</td>
                        </tr>
                </tbody>
            }
        }
    </table>
</div>
