@page
@model IndexModel
@{
    ViewData["Title"] = "Currencies";

    var message = ViewData["message"]; 
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@message</p>
</div>
