@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var maxId = ViewData["MaxId"];
    var pageId = ViewData["PageId"]; 

    var url = "/?MaxId="+maxId+"&PageId="+pageId; 
}




<a href="@url" class="btn btn-primary">Next</a>


<h1>About Us: </h1>
<p>This is the Final Project Submission for IT3045C Contemporary Programming Group 1.</p>
<h1>Contributions:  </h1>
<h3>Special thanks to CoinMarketCap</h3>
<p>Provided sample data and a template by which we built many of our currency models</p>
<h3>Grant Rynders</h3>
<p>Developed bespoke user system using the framework of Microsoft.AspNetCore.Identity. Assisted in developing models for the database and application design.</p>
<h3>Cameron Gordon</h3>
<p>Developed the interface we used for interacting with, displaying, and querying all the data, which was crucial for developing every other system.</p>
