@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var maxId = ViewData["MaxId"];
    var pageId = ViewData["PageId"]; 

    var url = "/?MaxId="+maxId+"&PageId="+pageId; 
}




<a href="@url" class="btn btn-primary">Next</a>