@page
@model IndexModel
@{
    ViewData["Title"] = "Personal Information";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can view your personal information.</p>
</div>
